.ad-block-container{
	margin:30px auto;
	
}
.dfp_adUnit{
margin:0px auto;
text-align:center;
}

.ad-block-container.inline-banner{
		display:block;
	}

	
/* @media screen and (min-width: 1280px) {
	.ad-block-container.banner .dfp_adUnit{
		width:728px;
	}
	
} */


.ad-block-container.square{

	
	}
